<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Francisco Miguel Biete Banon">
<meta name="description" content="UOC M4.257 PEC3">
<title>M4.257 PEC3</title>

<link rel="apple-touch-icon" sizes="180x180" href="./static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./static/favicon-16x16.png">
<link rel="manifest" href="./site.webmanifest">

<link rel="stylesheet" href="styles.css">
<script type="module" src="app.js" defer></script>