/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: swap;
}
  
/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
         url('fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: swap;
}
  
/* montserrat-900 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/montserrat-v25-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/montserrat-v25-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/montserrat-v25-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/montserrat-v25-latin-900.woff') format('woff'), /* Modern Browsers */
         url('fonts/montserrat-v25-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/montserrat-v25-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
    font-display: swap;
}

/* noto-sans-egyptian-hieroglyphs-regular - egyptian-hieroglyphs */
@font-face {
    font-family: 'Noto Sans Egyptian Hieroglyphs';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/noto-sans-egyptian-hieroglyphs-v26-egyptian-hieroglyphs-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/noto-sans-egyptian-hieroglyphs-v26-egyptian-hieroglyphs-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/noto-sans-egyptian-hieroglyphs-v26-egyptian-hieroglyphs-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/noto-sans-egyptian-hieroglyphs-v26-egyptian-hieroglyphs-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/noto-sans-egyptian-hieroglyphs-v26-egyptian-hieroglyphs-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/noto-sans-egyptian-hieroglyphs-v26-egyptian-hieroglyphs-regular.svg#NotoSansEgyptianHieroglyphs') format('svg'); /* Legacy iOS */
}
  
  
:root {
    --text-color: #2A2A2A;
    --text-contrast: #FFFFFF;
    --color-contrast: #DC4A23;
    --color-contrast-light: #EB9781;
    --color-body: #FFF7E8;

    --color-bg1: #4C5E3B;
    --color-bg2: #545C42;
    --color-bg3: #CFB997;
    --color-bg4: #FAD6A5;
}

* {
    box-sizing: border-box;
  }

/* Estilos por defecto */
html {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

body {
    background-color: var(--color-body);
    color: var(--text-color);
    margin: 0;
}

/* Genericos */
ol, ul, figure {
    margin: 0;
}

ol, ul {
    padding: 1.0rem;
}

/* Conseguir que figcaption contenido respete el width del figure */
figure {
    display: table;
}

figure img {
    max-width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: smaller;
    margin-bottom: 2em;
}

hr {
    /* Linea con color */
    background-color: var(--color-bg1);
    border: none;
    height: 2px;
}

a {
    text-decoration: none;
    color: var(--color-bg1)
}

a:hover {
    text-decoration: underline dotted;
    color: var(--color-contrast);
}

q {
    font-style: oblique;
}

/* Utilidades */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1em;
}

.column {
    display: flex;
    /* Columnas en small screens son filas */
    flex-direction: row;
    flex-basis: 100%;
}

.column:last-of-type {
    margin-top: 0.9em;
}

/* tablet y desktop - 751+ */
@media screen and (min-width: 751px) {
    .column {
        flex-direction: column;
        flex: 1;
    }

    .column:last-of-type {
        margin-top: initial;
    }
}

.text-right {
    text-align: right;
}


/* Cabecera (desktop) */
header {
    background-color: var(--color-bg2);
    color: var(--text-contrast);
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    clip-path: polygon(100% 0, 100% 100%, 
    95% 85%, 90% 100%, 
    85% 85%, 80% 100%, 
    75% 85%, 70% 100%, 
    65% 85%, 60% 100%, 
    55% 85%, 50% 100%, 
    45% 85%, 40% 100%, 
    35% 85%, 30% 100%, 
    25% 85%, 20% 100%, 
    15% 85%, 10% 100%, 
    5% 85%,  0 100%, 
    0 0);
}

header img {
    margin-right: 30px;
    height: 71px;
}

header h1 {
    text-shadow: 3px 3px var(--color-contrast);
}

/* mobile - 750 */
@media only screen and (max-width: 750px) {
    header {
        letter-spacing: 0;
    }

    header img {
        margin-left: 30px;
        margin-top: 20px;
    }
}


/* Footer (mobile) */
footer {
    background-color: var(--color-bg1);
    color: var(--text-contrast);
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    line-height: 50%;
    padding-left: 2em;
    font-size: small;
    font-weight: bolder;
}

footer::before {
    content: '';
    background: url(img/cartouche.png) repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -10;
}

footer .row {
    margin-bottom: 0;
}

footer .row:last-of-type {
    margin-bottom: 5px;
    margin-top: 5px;
}

footer nav {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: larger;
}

footer nav:last-of-type {
    margin-left: 10px;
    margin-bottom: 10px;
}

footer nav ul {
    margin: 0;
    padding: 0;
    line-height: 150%;
    list-style: none;
}

footer nav li {
    display: flow-root;
    margin: 0;
    max-width: fit-content;
    padding: 2px 5px;
    border-radius: 5px;
    color: var(--text-contrast);
    transition: background-color 0.5s ease-out;
    transition: box-shadow 0.5s ease-in;
}

footer nav li:hover {
    color: var(--text-color);
    background-color: var(--color-body);
    box-shadow: 2px 2px 5px var(--color-bg4);
    transition-duration: 1s;
}

footer nav li.active {
    border-radius: 0;
    border-bottom: dotted 2px var(--text-contrast);
    transition: border-color 0.5s ease-in;
}

footer nav li.active:hover {
    color: var(--text-color);
    border-bottom: dotted 2px var(--text-color);
    border-color: var(--text-color);
    transition-duration: 1s;
    box-shadow: none;
}

footer nav:nth-of-type(2) li {
    float: right;
    margin-right: 20px;
}

footer a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

footer li.active a {
    font-weight: 900;
}

footer a:hover {
    color: var(--text-color);
    text-decoration: none;
}

footer li.active a:hover {
    cursor: default;
}

footer hr {
    /* Linea con color */
    background-color: var(--color-bg2);
    border: none;
    height: 1px;
    /* reset margin para flex-direction column */
    margin-left: 0;
    margin-right: 0;
}

/* tablet y desktop > 750 */
@media only screen and (min-width: 751px) {
    footer {
        letter-spacing: 0.05em;
        padding-left: 5em;
        padding-right: 5em;        
    }

    footer nav:last-of-type {
        margin-left: 0;
        margin-bottom: 0;
    }

    footer nav ul {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    footer nav li {
        display: block;
        flex: 0 1 auto;
        margin-right: 20px;
    }  
}



/* Main contenido */
main {
    max-width: 75%;
    margin: auto;
    /* Espacio superior para el header fijo */
    margin-top: 140px;
    /* Espacio inferior para el footer fijo */
    margin-bottom: 140px;
    text-align: justify;
}

main.doublemenu {
    /* double menu - necesita un margen mayor */
    margin-bottom: 200px;
}

main h1 {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

/* mobile 1 - 750 */
@media screen and (max-width: 750px) {
    main {
        margin-top: 160px;
        margin-bottom: 220px;
    }

    main.doublemenu {
        margin-bottom: 240px;
    }    

    main h1 {
        letter-spacing: 0em;
    }
}

/* tablet 751 - 990 */
/* No necesario, usamos full desktop margenes */



/* Pagina especial - Portada (desktop) */
body.portada {
    background-color: black;
    color: var(--text-contrast);
}

.portada main {
    padding: 0;
    /* Reset margin para el portada */
    margin: auto;
    height: 100vh;
    max-width: 100%;   
}

.portada main.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.portada main img {
    max-width: fit-content;   
}

/* no FHD (la imagen tiene resolución FHD) - 991 - 1919 */
@media screen and (min-width: 991px) and (max-width: 1919px) {
    .portada main img {
        width: 100%;
        object-fit: none;
        object-position: 0 30%;
    }    
}

/* tablet - 751 - 990 */
@media screen and (min-width: 751px) and (max-width: 990px) {
    .portada main img {
        width: 100%;
        object-fit: none;
        object-position: 15% 40%;
    }
}

/* mobile - 750 */
@media screen and (max-width: 750px) {
    .portada main img {
        width: 410px;
        height: 700px;
        object-fit: none;
        object-position: 25% 40%;
    }
}




/* Secciones / parrafos */

/* clear float fix - sigue siendo necesario */
section::before, section::after {
    content: " ";
    display: table;
}

section::after {
    clear: both;
}

section > hr {
    display: block;
    /* Centramos verticalmente */
    margin: 50px 0 -20px;
    width: 100%;
    height: 1px;
    border: 0;
}
section > hr + h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 5px 10px;
    border-left: 1px solid var(--color-bg1);
    border-right: 1px solid var(--color-bg1);
    transform: translateX(-50%);
    color: var(--color-bg1);
    font-weight: 600;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--color-body);
}

section > hr + h2::first-letter {
    margin-left: 0.3em;
}

section ul {
    padding: 0;
    list-style: none;
    list-style-position: inside;
}

section ul > li::marker {
    content: "⇨ ";
    color: var(--color-bg1);
}

section ul > li > ul {
    margin: 0.5em 0 0.5em 2em;
}

/* Imagenes flotantes */
.left {
    float: left;
    margin-right: 1.5em;
}

.right {
    float: right;
    margin-left: 1.5em;
}

/* Notas al pie */
sup > a {
    font-size: smaller;
}

/* Seccion referencias */
section.footnotes > hr + h2 {
    left: 15%;
    color: var(--color-bg3);
    font-weight: 600;
}

/* mobile 1 - 750 */
@media screen and (max-width: 750px) {
    section.footnotes > hr + h2 {
        letter-spacing: 0;
        left: 50%;
    }
}


section.footnotes > ol, section.referencias > ul {
    list-style-type: none;
    padding: 0;
    counter-reset: item-li;
}

section.footnotes > ol > li, section.referencias > ul > li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: var(--color-bg4);
    text-decoration: none;
    border-radius: .3em;
  } 

section.footnotes > ol > li::before, section.referencias > ul > li::before {
    content: counter(item-li);
    counter-increment: item-li;
    position: absolute;
    left: -1.3em;
    margin-top: -0.5em;
    background: var(--color-bg1);
    color: var(--text-contrast);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid var(--text-contrast);
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

section.footnotes > ol > li:hover::before, section.referencias > ul > li:hover::before {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Table para Titulatura */
.table {
    overflow-x: auto;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    text-align: left;
    /* Centramos la tabla */
    margin: auto;
}

tr {
    background: var(--color-bg4);
    border-bottom: 4px solid var(--color-bg1);
}

thead th {
    border: none;
    padding: 1.5em 0.75em 1.5em 0.75em;
    font-weight: 600;
    text-transform: uppercase;
}
  
  
tbody tr {
    border-bottom: 4px solid var(--color-bg2);
}

tbody th, tbody td {
    border: none;
    padding: 0 1.5em 0 1.5em;
}

/* mobile 1 - 750 */
@media screen and (max-width: 750px) {
    thead th {
        padding: 0 0.2em 0 0.2em;
    }
    tbody th, tbody td {
        padding: 0 0.2em 0 0.2em;
    }
}



/* Carousel usando CSS - reemplazo de swiper*/
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: calc(100vh - 450px);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Ocultamos los controles - los activaremos pulsando sobre el label/img */
.carousel input[type=radio] {
    display: none;
}

.carousel .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
 
.carousel .cards .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}
    
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.carousel .card-left {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }

.carousel .card-right {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
  }
  
/* Si 1 activo, 1 es en el centro y activo */
.carousel .card-active {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }

.carousel .card-inactive {
    display: none;
}

.carousel .item-active img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}
  
.carousel .carousel-info {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
}
  
.carousel .carousel-info .card-info {
    width: calc(100% - 32px);
    display: block;
    color: #403d40;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
}
  
/* mobile 1 - 750 */
@media screen and (max-width: 750px) {
    .carousel {
        height: 300px;
    }

    .carousel .cards {
        margin-bottom: 0;
    }
}

/* tablet - 751 - 990 */
@media screen and (min-width: 751px) and (max-width: 990px) {
    .carousel .cards {
        margin-bottom: 5;
    }

    .carousel .carousel-info {
        padding: 5px 10px;
    }
}

/* not fhd - 991 - 1919 */
@media screen and (min-width: 991px) and (max-width: 1919px) {
    .carousel .cards {
        margin-bottom: 5;
    }

    .carousel .carousel-info {
        padding: 5px 10px;
    }
}



/*** SVG ***/
.svg-container {
    display: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 20px;
}

.svg-container svg {
    max-width: 100%;
    width: 100%;
    height: auto;
    fill: none;
    stroke-width: 4;
}


.svg-container svg tspan > tspan {
    stroke-dasharray: 1000;
    stroke-dashoffset: -1000;

    animation-name: draw;
    animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

.svg-container svg tspan > tspan:nth-of-type(1) {
    animation-delay: 250ms;
}

.svg-container svg tspan > tspan:nth-of-type(2) {
    animation-delay: 500ms;
}

.svg-container svg tspan > tspan:nth-of-type(3) {
    animation-delay: 750ms;
}

.svg-container svg tspan > tspan:nth-of-type(4) {
    animation-delay: 1000ms;
}

.svg-container svg tspan > tspan:nth-of-type(5) {
    animation-delay: 1250ms;
}

.svg-container svg tspan > tspan:nth-of-type(6) {
    animation-delay: 1500ms;
}

.svg-container svg tspan > tspan:nth-of-type(7) {
    animation-delay: 1750ms;
}

.svg-container svg tspan > tspan:nth-of-type(8) {
    animation-delay: 2000ms;
}

.svg-container svg tspan > tspan:nth-of-type(9) {
    animation-delay: 2250ms;
}

.svg-container svg tspan > tspan:nth-of-type(10) {
    animation-delay: 2500ms;
}

.svg-container svg tspan > tspan:nth-of-type(11) {
    animation-delay: 2750ms;
}

.svg-container svg tspan > tspan:nth-of-type(12) {
    animation-delay: 3000ms;
}

.svg-container svg tspan > tspan:nth-of-type(13) {
    animation-delay: 3250ms;
}

.svg-container svg tspan > tspan:nth-of-type(14) {
    animation-delay: 3500ms;
}

.svg-container svg tspan > tspan:nth-of-type(15) {
    animation-delay: 3750ms;
}

@keyframes draw {
    25% {
        stroke: var(--color-bg3);
    }
    50% {
        stroke: var(--color-bg2);
    }
    75% {
        stroke: var(--color-bg1);
    }
    100% {
        stroke-dashoffset: 0;
    }
}

/* mobile 1 - 750 */
@media screen and (max-width: 750px) {
    .svg-container {
        margin-bottom: 10px;
    }
}

/* tablet - 751 - 990 */
@media screen and (min-width: 751px) and (max-width: 990px) {
    .svg-container {
        margin-bottom: 10px;
    }
}